@import "tailwindcss";

#root {
  max-width: 1280px;
  /* padding: 2rem; */
  text-align: center;
  margin: 0 auto;
}

.fullscreen-image-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none; /* Prevent the image from intercepting clicks */
}

.fullscreen-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-button {
  position: absolute;
  top: 75%;        /* Adjust these values to place it where you want */
  left: 92%;
  transform: translate(-50%, -50%);
  padding: 1rem 2rem;
  font-size: 1.25rem;
  background-color: #49BBBD;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  z-index: 100;     /* Ensure it appears above the image */
  white-space: nowrap;     /* Prevents line breaks if text is long */
  pointer-events: auto;
}

.overlay-button:hover {
  background-color: #3aa3a4;
}


